<input [(ngModel)]="titleCheck"> <button (click)="clickEvent()">Click me for an update!</button>
<p>
  <app-content-card *ngFor="let item of (content | contentType:'news'); last as isLast" [item]="item" [last]="isLast"></app-content-card>
  <app-content-card *ngFor="let item of (content | contentType:'stories'); last as isLast" [item]="item" [last]="isLast"></app-content-card>
</p>

<mat-list>
  <mat-list-item> Danyel </mat-list-item>
  <mat-list-item> Danny </mat-list-item>
  <mat-list-item> Dan </mat-list-item>
</mat-list>

<mat-card>
  <mat-card-title> 'Dannys Mat component' </mat-card-title>
  <mat-card-content> 'This is my stuff'</mat-card-content>
  <mat-card-footer> 'Thank you' </mat-card-footer>
</mat-card>